projects/PEC5_1/NodeRED_JSON_ejemplo.json
[{"id":"8e31ef84.61641","type":"tab","label":"Ejemplo_JSON_Grafana","disabled":false,"info":""},{"id":"dfc9660b.495c98","type":"inject","z":"8e31ef84.61641","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"medida1\":1, \"medida2\": 20}","payloadType":"str","x":90,"y":200,"wires":[["1cb88398.e129fc"]]},{"id":"1cb88398.e129fc","type":"json","z":"8e31ef84.61641","name":"","property":"payload","action":"","pretty":false,"x":250,"y":200,"wires":[["ffd5d29a.1e175"]]},{"id":"ffd5d29a.1e175","type":"change","z":"8e31ef84.61641","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.medida2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":200,"wires":[["87de1bad.485ff8","71f66dd7.529f84"]]},{"id":"87de1bad.485ff8","type":"debug","z":"8e31ef84.61641","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":240,"wires":[]},{"id":"71f66dd7.529f84","type":"influxdb out","z":"8e31ef84.61641","influxdb":"3e2ed1.2077113","name":"","measurement":"Temperature","precision":"","retentionPolicy":"","x":750,"y":140,"wires":[]},{"id":"3e2ed1.2077113","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"grafana","name":"","usetls":false,"tls":""}]